<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FSEconomy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FSEconomy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FSEconomy.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>http://atilla.hinttech.com:8080/fseconomy</value>
            </setting>
        </FSEconomy.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FSEconomy.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="localComputer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fsxHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="fsxPort" serializeAs="String">
                <value>6700</value>
            </setting>
            <setting name="showFinishedFlight" serializeAs="String">
                <value>True</value>
            </setting>
        </FSEconomy.Properties.Settings>
    </userSettings>
</configuration>